<h2>Contents</h2>
<p>
This directory contains output parameters of action
<a href="actions/show/help.html">show</a>, instance-level actions
and subresources. Associated resources are represented by a directory.
</p>
<dl>
    <dt><code>&lt;parameter&gt;</code></dt>
    <dd>
    Output parameters from action <a href="actions/show/help.html">show</a>.
    Parameters that are also input parameters of action
    <a href="actions/update/help.html">update</a> are writable.
    </dd>

    <dt><code>&lt;association&gt;/</code></dt>
    <dd>Associated resource is accessible as a nested resource instance.</dd>

    <dt><code>&lt;association_id&gt;</code></dt>
    <dd>To change the associated resource, write its id to this file.</dd>

    <dt>save</dt>
    <dd>Trigger the update action. The same as using <code>actions/update/exec</code>.</dd>
    
    <dt>edit.yml</dt>
    <dd>Editable YAML file with input parameters of action <code>Update</code>. The action is
        executed when the file is saved and closed.</dd>

    <dt><code>&lt;subresource&gt;/</code></dt>
    <dd>Access to subresources.</dd>
</dl>

<h3>Attributes</h3>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Name</th>
        <th>Label</th>
        <th>Data type</th>
        <th>Description</th>
    </tr>
    <% @c.resource.attributes.each_key do |name| %>
        <% next if name == :_meta %>
        <% desc = @c.resource.actions[:show].params[name] %>
        <tr>
            <td><%= name %></td>
            <td><%= desc[:label] %></td>
            <td><%= desc[:type] %></td>
            <td><%= desc[:description] %></td>
        </tr>
    <% end -%>
</table>

<h3>Subresources</h3>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Resource</th>
        <th>Description</th>
    </tr>
    <% @c.subresources.each do |name| %>
        <tr>
            <th><a href="<%= name %>/help.html"><%= name %></a></th>
            <td><%= @c.resource.resources[name]._description[:description] %></td>
        </tr>
    <% end -%>
</table>
